
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }
  .webpage{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #051836;
    color: #fff;
    padding: 2px;
  }
  header .logo{
    width: 130px;
    height:auto;
    margin-right:20px;
  }
  nav{
    padding: 4px; 
  }
  nav ul { 
    margin: 0;
    padding: 0;
  }
  
  nav li {
     font-size:large;
      display: inline-block;
      margin-right: 20px;
      letter-spacing: 1px;
  
  }
  
  nav a {
    
    font:bolder;
    font-size: 17px;
    color: #E8E280;
    text-decoration: none;
  }
  nav a button{
    align-items: left;
    background-color:#E8E280 ;
    color:#051836;
    border: none ;
    border-radius: 35px;
    padding: 10px 15px;
    text-align: center;
    font: bold;
    font-size: 15px;
    margin: 10px 2px;
    cursor: pointer;
    letter-spacing: 0,5px;
  }
  nav a button:hover{
    background-color:#051836  ;
    color:#E8E280  ;                                                             
    

  }
  

 .childImage {
    float: right;
    margin-left: 20px;
  }
  #headline{
    background-color: white; 
    background-size: contain;
    height: 400px;
    color: #051836;
    padding: 100px;

  }
  #headline .headline{
    font-size: 45px;
    font-weight:lighter;
    text-align: center-left;
    color: #051836;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  #headline .text {
    font-size: 22px;
    font-weight:lighter;
    color: #051836;
    text-align: center-left;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
 
  #headline .button-start button {
    align-items: center;
    background-color:#E8E280 ;
    color:#051836;
    border: none ;
    border-radius: 90px;
    padding: 18px 20px;
    text-align: center;
    font-size: 15px;
    font: bold;
    margin: 10px 2px;
    cursor: pointer;
    letter-spacing: 1px;
  }
  #headline .button-start button:hover {
    background-color:#051836  ;
    color:#E8E280 ;
    padding: 23px 19px;
  }
  #start {
   
    background-image:url(Photos/Blind_Student.png); 
    background-attachment: fixed;
    background-size:contain;
    height: 180px;
    color: #051836;
    padding: 200px;
   margin-bottom: 100px;
  }
  #start .title {
    font-size: 25px;
    font-weight:lighter;
    text-align: left;
    color: #051836;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  #start .text {
    font-size: 22px;
    font-weight:lighter;
    color: #051836;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  
  #start .button-container button {
    text-decoration: none;
    align-items: left;
    background-color:#E8E280 ;
    color:#051836;
    border: none ;
    border-radius: 40px;
    padding: 18px 19px;
    text-align: left;
    font-size: 15px;
    margin: 10px 2px;
    cursor: pointer;
    letter-spacing: 1px;
    
  }
  #start .button-container button:hover {
    text-decoration: none;
    background-color:#051836  ;
    color:#E8E280 ;
    padding: 23px 19px;
    
  }
  .features-title {
    font-size: 15px;
    font-weight:lighter;
    text-align: center;
    color: #051836;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  #features {
    display:flex;
    margin: 2px;
    justify-content: space-between;
    background-color: white;
    padding: 90px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
   
  }
   #features.show {
    opacity: 1;
    transform: translateX(0);
  }

  
  #features .feature {
    text-align: center;
    padding: 30px;
    border:none;
  }

  #features .feature:hover {
    text-align: center;
    padding: 20px;
    
  }
  
  #features .feature img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  #features .feature p {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 17px;
  }
  
  
  footer {
    display: flex;
    background-color: #051836;
    color: #E8E280;
    padding: 8px;
    text-align: left;
    
  }
  footer .logo{
    background-size:contain;
    height: 40px;
    color: #051836;
    padding: 8px;
   display: flex;
   align-items: left;
    margin-left: 1000px;
  }

